form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .form-group {
        display: flex;
        &--inline{
            flex-direction: row;
            gap: 10px;
        }
        &--block{
            flex-direction: column;
            gap: 10px;
        }
    }
}