<header>
  <div class="container">
    <div class="col">
      <div class="logo-container">
        <span class="logo-text">FlowrSpot</span>
      </div>
      <nav>
        <ul>
          <li><a [routerLink]="['/flowers']">Flowers</a></li>
          <li><a [routerLink]="['/latest-sightings']">Latest Sightings</a></li>
          <li><a [routerLink]="['/favorites']">Favorites</a></li>
          <li><button class="button-link" (click)="openLoginDialog()">Login</button></li>
          <li><button class="button button--round" (click)="openCreateAccountDialog()">New Account</button></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
