<header>
  <div class="container">
    <div class="col">
      <div class="logo-container">
        <span class="logo-text">FlowrSpot</span>
      </div>
      <nav>
        <ul>
          <li><a href="#">Flowers</a></li>
          <li><a href="#">Latest Sightings</a></li>
          <li><a href="#">Favorites</a></li>
          <li><a href="#" class="active">Login</a></li>
          <li><button class="button button--round">New Account</button></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
