<header>
  <div class="container">
    <div class="col">
      <div class="logo-container">
        <span class="logo-text">FlowrSpot</span>
      </div>
      <button class="button-hamburger" (click)="openMobileNav()" [attr.aria-label]="mobileNavOpened ? 'close navigation' : 'open navigation'" [ngClass]="{'button-hamburger--close': mobileNavOpened}">
        <!-- Image is set on ::after pseudo element-->
      </button>      
      <nav [ngClass]="{'logged-in': loggedIn$ | async, 'mobile-nav': mobileNavOpened}">
        <ul>
          <li><a [routerLink]="['/flowers']">Flowers</a></li>
          <li><a [routerLink]="['/latest-sightings']">Latest Sightings</a></li>
          <ng-container *ngIf="!(loggedIn$ | async); else loggedIn">
            <li><button class="button-link" (click)="openLoginDialog()">Login</button></li>
            <li><button class="button button--round" (click)="openCreateAccountDialog()">New Account</button></li>
          </ng-container>
          <ng-template #loggedIn>
            <li><a [routerLink]="['/favorites']">Favorites</a></li>
            <li class="profile" *ngIf="userDetails$ | async as user">
                <button (click)="openProfileDialog()">
                  <span>{{user?.first_name + ' ' + user?.last_name}}</span>
                  <img src="assets/images/profile-holder.png" />
                </button>
            </li>
          </ng-template>
        </ul>
      </nav>
    </div>
  </div>
</header>
