// Fonts
$font_ubuntu__regular: 'Ubuntu';
$font_ubuntu__bold: 'UbuntuBold';
$font_ubuntu__bold_italic: 'UbuntuBoldItalic';
$font_ubuntu__light: 'UbuntuLight';
$font_ubuntu__light_italic: 'UbuntuLightItalic';
$font_ubuntu__medium: 'UbuntuMedium';
$font_ubuntu__medium_italic: 'UbuntuMediumItalic';

$font_montserrat__regular: 'Montserrat';
$font_montserrat__italic: 'MontserratItalic';

// Colors
$primary_color: #EAA79E;
$primary_color--lighter: #ECBCB3;
$gray: #949EA0;
$slat-gray: #334144;
$white: #ffffff;
$black: #000000;