@use '/src/styles/utilities/variables';

$background-color: #F5F6F7;
$border-color: #DFE5EA;
.custom-input{
    position: relative;
    display: block;
    border: 1px solid $border-color;
    border-radius: 3px;
    background: $background-color;
    
    &.has-error{
        border: 1px solid red;
    }

    input{
        display: block;
        border: none;
        background: $background-color;
        height: 50px;
        width: 100%;
        padding: 10px 15px 0;
        font-family: variables.$font_ubuntu__regular;
        font-size: 13px;
        line-height: 1;
        color: #334144;
        border-radius: 3px;
    }
    label{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: variables.$gray;
        font-family: variables.$font_ubuntu__regular;
        font-size: 13px;
        line-height: 1;
        transition: all .3s;
        pointer-events: none;
    }
    input:focus + label, &.has-value label{
        font-size: 10px;
        top: 11px;
        transform: translateY(0%);
    }
    mat-datepicker-toggle{
        cursor: pointer;
        position: absolute;
        width: 100%;
        inset: 0;
        opacity: 0;
    }
}