<div class="flower-card" [ngClass]="{'flower-card--favorite': flower.favorite && showStar}">
    <img
    class="profile-picture"
      [src]="flower.profile_picture"
      alt="Flowers"
    />
  <div class="flower-card-overlay"></div>
  <!-- <img src="assets/images/star-default.svg" alt="Star" class="star" /> -->
  <app-star *ngIf="showStar" [favorite]="flower.favorite" (markAsFavoriteEmitter)="markAsFavorite($event)"></app-star>
  
  <div class="content">
    <h3 class="flower-name">{{flower.name}}</h3>
    <span class="flower-latin-name">{{flower.latin_name}}</span>
    <span class="sightings-info">{{flower.sightings}} sighings</span>
  </div>
</div>